In [1]:
import pandas as pd
import numpy as np

data=pd.Series(['fddf','dfhdsgfhs',np.nan, 'jdhsjhd'])
data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [2]:
data=pd.Series(['fddf','dfhdsgfhs',np.nan, 'jdhsjhd', None])
data.isnull()

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [3]:
data.notnull()

0     True
1     True
2    False
3     True
4    False
dtype: bool

In [5]:
k=data.dropna()
print(k)
print(data)

0         fddf
1    dfhdsgfhs
3      jdhsjhd
dtype: object
0         fddf
1    dfhdsgfhs
2          NaN
3      jdhsjhd
4         None
dtype: object

In [6]:
data.dropna(inplace=True)
print(data)

0         fddf
1    dfhdsgfhs
3      jdhsjhd
dtype: object

In [7]:
data=pd.Series(['fddf','dfhdsgfhs',np.nan, 'jdhsjhd', None])
print(data.fillna(value='aaa'))

0         fddf
1    dfhdsgfhs
2          aaa
3      jdhsjhd
4          aaa
dtype: object

In [8]:
print(data.fillna(method='ffill'))

0         fddf
1    dfhdsgfhs
2    dfhdsgfhs
3      jdhsjhd
4      jdhsjhd
dtype: object

In [10]:
data=pd.Series(['fddf','dfhdsgfhs',np.nan, 'jdhsjhd', None,'hello'])
print(data.fillna(method='bfill'))

0         fddf
1    dfhdsgfhs
2      jdhsjhd
3      jdhsjhd
4        hello
5        hello
dtype: object

In [11]:
df=pd.DataFrame([['f','fd',np.nan,'bb',None,'cc'],
                 ['f',np.nan,'ff','bb',None,'cc'],
                 [np.nan,'fd','bb',None,'cc']
                 ])
df

     0    1    2     3     4     5
0    f   fd  NaN    bb  None    cc
1    f  NaN   ff    bb  None    cc
2  NaN   fd   bb  None    cc  None

In [12]:
print(df.dropna())

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5]
Index: []

In [13]:
print(df.isnull())

       0      1      2      3      4      5
0  False  False   True  False   True  False
1  False   True  False  False   True  False
2   True  False  False   True  False   True

In [14]:
print(df.notnull())

       0      1      2      3      4      5
0   True   True  False   True  False   True
1   True  False   True   True  False   True
2  False   True   True  False   True  False

In [15]:
df

     0    1    2     3     4     5
0    f   fd  NaN    bb  None    cc
1    f  NaN   ff    bb  None    cc
2  NaN   fd   bb  None    cc  None

In [19]:
print(df[df[2].isnull()])

   0   1    2   3     4   5
0  f  fd  NaN  bb  None  cc

In [18]:
print(df[df[2].notnull()])

     0    1   2     3     4     5
1    f  NaN  ff    bb  None    cc
2  NaN   fd  bb  None    cc  None

In [20]:
print(df[df[4].isnull()])

   0    1    2   3     4   5
0  f   fd  NaN  bb  None  cc
1  f  NaN   ff  bb  None  cc

In [25]:
df=pd.DataFrame([['f','fd',np.nan,'bb',None,'cc',None],
                 ['f',np.nan,'ff','bb',None,'cc'],
                 [np.nan,'fd','bb',None,'cc'],
                 [None]
                 ])
df

      0     1     2     3     4     5     6
0     f    fd   NaN    bb  None    cc  None
1     f   NaN    ff    bb  None    cc  None
2   NaN    fd    bb  None    cc  None  None
3  None  None  None  None  None  None  None

In [26]:
print(df.dropna(axis=1,how='all'))

      0     1     2     3     4     5
0     f    fd   NaN    bb  None    cc
1     f   NaN    ff    bb  None    cc
2   NaN    fd    bb  None    cc  None
3  None  None  None  None  None  None

In [27]:
print(df.dropna(axis=0,how='all'))

     0    1    2     3     4     5     6
0    f   fd  NaN    bb  None    cc  None
1    f  NaN   ff    bb  None    cc  None
2  NaN   fd   bb  None    cc  None  None

In [28]:
print(df.fillna(0.0))

     0    1    2    3    4    5    6
0    f   fd  0.0   bb  0.0   cc  0.0
1    f  0.0   ff   bb  0.0   cc  0.0
2  0.0   fd   bb  0.0   cc  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [29]:
df

      0     1     2     3     4     5     6
0     f    fd   NaN    bb  None    cc  None
1     f   NaN    ff    bb  None    cc  None
2   NaN    fd    bb  None    cc  None  None
3  None  None  None  None  None  None  None

In [31]:
df[df.notnull()] = 1.2
df

      0     1     2     3     4     5     6
0   1.2   1.2   NaN   1.2  None   1.2  None
1   1.2   NaN   1.2   1.2  None   1.2  None
2   NaN   1.2   1.2  None   1.2  None  None
3  None  None  None  None  None  None  None

In [32]:
df.fillna(0.0, inplace=True)
df

     0    1    2    3    4    5    6
0  1.2  1.2  0.0  1.2  0.0  1.2  0.0
1  1.2  0.0  1.2  1.2  0.0  1.2  0.0
2  0.0  1.2  1.2  0.0  1.2  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [33]:
print(df.fillna(df.mean()))

     0    1    2    3    4    5    6
0  1.2  1.2  0.0  1.2  0.0  1.2  0.0
1  1.2  0.0  1.2  1.2  0.0  1.2  0.0
2  0.0  1.2  1.2  0.0  1.2  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [43]:
df=pd.DataFrame([['f','fd',np.nan,'bb',None,'cc',None],
                 ['f',np.nan,'ff','bb',None,'cc'],
                 [np.nan,'fd','bb',None,'cc'],
                 [None]
                 ])
df

      0     1     2     3     4     5     6
0     f    fd   NaN    bb  None    cc  None
1     f   NaN    ff    bb  None    cc  None
2   NaN    fd    bb  None    cc  None  None
3  None  None  None  None  None  None  None

In [37]:
print(df.fillna({0:3, 
                 4:25}))

   0     1     2     3   4     5     6
0  f    fd   NaN    bb  25    cc  None
1  f   NaN    ff    bb  25    cc  None
2  3    fd    bb  None  cc  None  None
3  3  None  None  None  25  None  None

In [45]:
df[df.notnull()] = 1.2

print(df.fillna({0:df.mean()+1, 
                 4:25}))

     0     1     2     3     4     5     6
0  1.2   1.2   NaN   1.2  25.0   1.2  None
1  1.2   NaN   1.2   1.2  25.0   1.2  None
2  2.2   1.2   1.2  None   1.2  None  None
3  2.2  None  None  None  25.0  None  None

In [46]:
#дубликаты
data2=pd.DataFrame({'k1': ['one']*3 + ['two']*4,
                    'k2': [1,1,1,2,3,3,4]})
data2

    k1  k2
0  one   1
1  one   1
2  one   1
3  two   2
4  two   3
5  two   3
6  two   4

In [47]:
print(data2.duplicated())

0    False
1     True
2     True
3    False
4    False
5     True
6    False
dtype: bool

In [48]:
print(data2.drop_duplicates())

    k1  k2
0  one   1
3  two   2
4  two   3
6  two   4

In [49]:
print(data2.drop_duplicates(['k1']))

    k1  k2
0  one   1
3  two   2

In [50]:
#замена слов / значений
mapping={'one': 'один',
         'two': 'два'}
print(data2['k1'].map(mapping))
data2

0    один
1    один
2    один
3     два
4     два
5     два
6     два
Name: k1, dtype: object

    k1  k2
0  one   1
1  one   1
2  one   1
3  two   2
4  two   3
5  two   3
6  two   4

In [51]:
data2['russian']=data2['k1'].map(mapping)
data2

    k1  k2 russian
0  one   1    один
1  one   1    один
2  one   1    один
3  two   2     два
4  two   3     два
5  two   3     два
6  two   4     два

In [52]:
print(data2.replace(1,22))

    k1  k2 russian
0  one  22    один
1  one  22    один
2  one  22    один
3  two   2     два
4  two   3     два
5  two   3     два
6  two   4     два

In [53]:
print(data2['k2'].apply(lambda x: x+2))

0    3
1    3
2    3
3    4
4    5
5    5
6    6
Name: k2, dtype: int64

In [54]:
print(data2['russian'].apply(lambda x: x.upper()))

0    ОДИН
1    ОДИН
2    ОДИН
3     ДВА
4     ДВА
5     ДВА
6     ДВА
Name: russian, dtype: object

In [55]:
#нормирование
sigma1=1
sigma2=12
sigma3=3

mu1=0
mu2=5
mu3=10

a=mu1+np.random.randn(10)*sigma1
b=mu2+np.random.randn(10)*sigma2
c=mu3+np.random.randn(10)*sigma3

print(a)
print(b)
print(c)

[ 0.62453809  1.81485237 -1.12366496  0.75240504  1.47776035  0.65481046
  0.50636614  0.09176817  0.56885467  0.54659458]
[-9.90249636 13.48065635  8.1578231  20.11895738 -6.03978731 -7.55396093
  4.32577388 -1.00070773 10.48542847 27.63810528]
[ 9.97901723  6.41327823 10.46520376 11.71489434 11.87534627  9.81123587
  5.08005213 10.46144551  6.47841554 14.24545981]

In [56]:
df2=pd.DataFrame(np.array([a,b,c]))
df2

,0,1,2,3,4,5,6,7,8,9
0,0.624538,1.814852,-1.123665,0.752405,1.477760,0.654810,0.506366,0.091768,0.568855,0.546595
1,-9.902496,13.480656,8.157823,20.118957,-6.039787,-7.553961,4.325774,-1.000708,10.485428,27.638105
2,9.979017,6.413278,10.465204,11.714894,11.875346,9.811236,5.080052,10.461446,6.478416,14.245460

In [58]:
df2.mean()

0     0.233686
1     7.236262
2     5.833121
3    10.862086
4     2.437773
5     0.970695
6     3.304064
7     3.184169
8     5.844233
9    14.143387
dtype: float64

In [59]:
print(df2.mean(axis=1))

0    0.591428
1    5.970979
2    9.652435
dtype: float64

In [60]:
print(df2.std(axis=1))

0     0.782754
1    12.390177
2     2.852117
dtype: float64

In [61]:
mu=df2.mean(axis=1)
s=df2.std(axis=1)
y = (df2.iloc[1]-mu[1]) / s[1]
y

0   -1.281134
1    0.606099
2    0.176498
3    1.141871
4   -0.969378
5   -1.091586
6   -0.132783
7   -0.562679
8    0.364357
9    1.748734
Name: 1, dtype: float64